<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>DealsServle</display-name>
    <servlet-name>DealsServle</servlet-name>
    <servlet-class>controller.DealsServle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DealsServle</servlet-name>
    <url-pattern>/DealsServle</url-pattern>
  </servlet-mapping>
  <display-name>deals</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>VerietyServlet</display-name>
    <servlet-name>VerietyServlet</servlet-name>
    <servlet-class>controller.VerietyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerietyServlet</servlet-name>
    <url-pattern>/VerietyServlet</url-pattern>
  </servlet-mapping>
</web-app>